<ul class="nav nav-pills">
  <li class="active"><a href="/products">Products</a></li>
    <li><a href="/products/10">Get top Ten Prodcuts</a></li>
    <li><a href="/products/30">Get top Thirty Prodcuts</a></li>

</ul>
