<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
</head>
<body>
    <h1><%= title %></h1>
    <h1>Welcome to Nodejs sessions <%= username %></h1>
    <a href="/login/facebook" class="btn btn-primary">Login Facebook</button>
</body>
</html>
