<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
</head>
<body>
   <div class="container">
   <form class="form-horizontal" action="create" method="POST" >
   <input type="text" name="name" placeholder="name">
   <input type="text" name="price" placeholder="price">
   <input type="text" name="description" placeholder="description">
   <input type="checkbox" name="isAvailable">
   <button type="submit">Add Product</button>
   
   </form>
   </div>     

</body>
</html>